/*********
 * Paned *
 *********/
.paned {
  > .separator {
    -gtk-icon-source: none; // defeats the ugly default handle decoration
    border-style: none; // just to be sure
    background-color: $borders_color;
    // workaround, using background istead of a border since the border will get rendered twice (?)
    background-size: 1px 1px;

    &:selected { background-color: $selected_bg_color } // FIXME is this needed?

    &:backdrop { background-color: $backdrop_borders_color }

  }

  border: solid $borders_color;
  border-left-width: 1px;

  &.horizontal > .separator {
    background-repeat: repeat-y;

    &:dir(ltr) {
      margin: 0 -8px 0 0;
      padding: 0 8px 0 0;
      background-position: left;
    }
    &:dir(rtl) {
      margin: 0 0 0 -8px;
      padding: 0 0 0 8px;
      background-position: right;
    }

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-y, repeat-y;
      background-position: left, right;
    }
  }

  &.vertical > .separator {
    margin: 0 0 -8px 0;
    padding: 0 0 8px 0;
    background-repeat: repeat-x;
    background-position: top;

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-x, repeat-x;
      background-position: bottom, top;
    }
  }
}