# ==============================================================================
# APPLICATION SPECIFIC SETTINGS
# ==============================================================================

# Xchat special cases

widget "*xchat-inputbox"	style "entry"

