# ==============================================================================
# OPEN/LIBREOFFICE SPECIFIC SETTINGS
# ==============================================================================

style "ooo_stepper_hack"
{
	GtkScrollbar::stepper-size	        = 13
	GtkScrollbar::has-backward-stepper	= 1
	GtkScrollbar::has-forward-stepper	= 1
}

style "libreoffice_entry"
{
    engine "pixmap"
    {
        image
        {
                function                = FLAT_BOX
                detail                  = "entry_bg"
                state                   = NORMAL
                overlay_file		    = "Entry/entry-border-fill-solid.png"
	           overlay_border		    = { 0, 0, 0, 0 }
                overlay_stretch         = TRUE
            }
        image
        {
                function                = FLAT_BOX
                detail                  = "entry_bg"
                state                   = ACTIVE
                overlay_file		    = "Entry/entry-border-fill-solid.png"
	           overlay_border		    = { 0, 0, 0, 0 }
                overlay_stretch         = TRUE
            }
    	image
    	{
    		    function		        = SHADOW
    		    detail			        = "entry"
                state                   = NORMAL
    		    shadow			        = IN
    		    file			        = "Entry/entry-border-bg-solid.png"
    		    border			        = { 4, 4, 4, 4 }
    		    stretch			        = TRUE
    	    }
        image
        {
        		function 	            = SHADOW
        		detail			        = "entry"
                state                   = ACTIVE
        		file	                = "Entry/entry-border-active-bg-solid.png"
        		border	                = { 4, 4, 4, 4 }
        		stretch		            = TRUE
            }
    }
}

widget "*openoffice-toplevel*"                	style "ooo_stepper_hack"
widget "*openoffice-toplevel*GtkEntry"        	style "libreoffice_entry"
widget "*openoffice-toplevel*GtkSpinButton"   	style "libreoffice_entry"
widget "*libreoffice-toplevel*GtkEntry"       	style "libreoffice_entry"
widget "*libreoffice-toplevel*GtkSpinButton"  	style "libreoffice_entry"