#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Name=Paper GTK+ Theme
Icon=preferences-desktop-theme
Exec=bash -c 'notify-send "Paper GTK+ Theme" "Getting the latest version of the Paper themes..." -i system-software-update; cd /tmp/; rm -Rf /tmp/paper-gtk-theme.zip 2>/dev/null; rm -Rf /tmp/paper-gtk-theme-master/ 2>/dev/null; wget https://github.com/snwh/paper-gtk-theme/archive/master.zip -O paper-gtk-theme.zip; unzip paper-gtk-theme.zip; cd paper-gtk-theme-master; rm -Rf "$HOME/.local/share/themes/Paper" 2>/dev/null; install -d $HOME/.local/share/themes; cp -R ./Paper/ $HOME/.local/share/themes/; install -d $HOME/.themes; cp -R ./Paper/ $HOME/.themes/;gsettings reset org.gnome.desktop.interface theme; gsettings set org.gnome.desktop.interface theme "Paper"; notify-send "All done!" "Enjoy the latest version of Paper!" -i face-smile'
