/*********
 * Geary *
 *********/

$geary: #F2B035;

.geary-titlebar-left,
.geary-titlebar-right {
  background-color: $geary;

  &:backdrop {
    background-color: darken($geary,10%);
  }

  .separator {
    opacity: 0;
  }
}

ConversationListView {
  -GtkWidget-focus-line-width: 1px;
  -GtkTreeView-grid-line-width: 0;

  .view {
    &:active,
    &:selected {
      background-color: $selected_bg_color;
      color: $selected_fg_color;

      &:backdrop {
        background-color: $backdrop_selected_bg_color;
        color: $backdrop_selected_fg_color;
      }
    }

    .cell {
      border: solid transparentize(black, 0.8);
      border-width: 0 0 1px 0;
      &:selected {
        color: $selected_fg_color;
        border: 0px solid darken($selected_bg_color, 10% );
      }
    }
  }
}