/* Copyright 2016 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color bijiben #ebdd4d;


/**********
 * Header *
 **********/

BjbMainToolbar,
BjbWindowBase .header-bar,
BjbWindowBase .titlebar {
    background-color: @bijiben;
    color: @header_text_dark;
}


BjbMainToolbar:backdrop,
BjbWindowBase .header-bar:backdrop,
BjbWindowBase .titlebar:backdrop {
    background-color: shade(@bijiben,0.9);
    color: @backdrop_header_text_dark;
}