/* Copyright 2015 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color terminal #dbdee0;
@define-color terminal_background #002B36;
@define-color terminal_text #839495;
@define-color terminal_window_text #dbdee0;
@define-color backdrop_terminal_window_text  shade(@terminal_window_text, 0.8);
@define-color insensitive_terminal_window_text  shade(@terminal_window_text, 0.95);

/**********
 * Header *
 **********/

TerminalWindow .titlebar,
TerminalWindow .header-bar {
    background-color: @terminal;
}

TerminalWindow .titlebar:backdrop,
TerminalWindow .header-bar:backdrop{
    background-color: shade(@terminal,0.9);
}


/* Switch */
TerminalWindow .header-bar GtkSwitch.trough:active {
    background-color: @terminal;
}

TerminalWindow GtkSwitch.trough:active {
    border: 1px solid shade(@terminal, 0.8);
    background-color: @terminal;
}

TerminalWindow GtkSwitch.slider:active {
    border: 1px solid shade(@terminal, 0.8);
} 

TerminalWindow .header-bar GtkSwitch.slider:active:backdrop,
TerminalWindow .header-bar GtkSwitch.slider:backdrop {
    background-color: shade(@terminal, 0.9);
}

/************
 * Notebook *
 ************/

TerminalNotebook {
    box-shadow: inset 0 1px 0 0 @border;
}

/* Active */
TerminalNotebook tab.top:active,
TerminalWindow .notebook tab.top:active,
TerminalWindow .dynamic-notebook tab.top:active {
    box-shadow:inset 0 -3px 0 0 @terminal;
}

TerminalNotebook tab.bottom:active,
TerminalWindow .notebook tab.bottom:active,
TerminalWindow .dynamic-notebook tab.bottom:active {
    box-shadow:inset 0 3px 0 0 @terminal;
}

TerminalNotebook tab.left:active,
TerminalWindow .notebook tab.left:active,
TerminalWindow .dynamic-notebook tab.left:active {
    box-shadow:inset -3px 0 0 0 @terminal;
}

TerminalNotebook tab.right:active,
TerminalWindow .notebook tab.right:active,
TerminalWindow .dynamic-notebook tab.right:active {
    box-shadow:inset 3px 0 0 0 @terminal;
}

/* Normal */
TerminalWindow .notebook tab.top {
    box-shadow:inset 0 -1px 0 0 alpha(#000, 0.2);
}
TerminalWindow .notebook tab.bottom {
    box-shadow:inset 0 1px 0 0 alpha(#000, 0.2);
}
TerminalWindow .notebook tab.left {
    box-shadow:inset -1px 0 0 0 alpha(#000, 0.2);
}
TerminalWindow .notebook tab.right {
    box-shadow:inset 1px 0 0 0 alpha(#000, 0.2);
}

/*----- Tabs -----*/

TerminalWindow .notebook tab {
    /*border: none;*/
    border-radius: 0;
    background: @header;
    color: @terminal_window_text;
}

TerminalWindow .notebook tab:active {
    border: none;
    background: @header;
    color: @terminal_window_text;
}

TerminalWindow .notebook tab:hover {
    background-color: shade(@header, 1.05);
    color: alpha(#fff, 0.3);
    transition: all 300ms cubic-bezier(0.3, 0.5, 0.5, 0.9);
}

TerminalWindow .notebook tab:backdrop {
    border: none;
    background: @backdrop_header;
    color: @backdrop_terminal_window_text;
}

TerminalWindow .notebook tab:insensitive {
    border: none;
    background: @insensitive_header;
    color: @insensitive_terminal_window_text;
}

/* Labels */
TerminalWindow .notebook GtkLabel,
TerminalWindow .notebook:active GtkLabel,
TerminalWindow .notebook:focus GtkLabel,
TerminalWindow .notebook:hover GtkLabel {
    color: @terminal_window_text;
}

TerminalWindow .notebook:backdrop GtkLabel,
TerminalWindow .notebook:backdrop:hover GtkLabel,
TerminalWindow .notebook:active:backdrop GtkLabel {
    color: @backdrop_terminal_window_text;
}

TerminalWindow .notebook:insensitive GtkLabel {
    color: @insensitive_terminal_window_text;
}

TerminalWindow .notebook:insensitive:backdrop GtkLabel {
    color: mix(@backdrop_terminal_window_text, @insensitive_terminal_window_text, 0.5);
}

TerminalWindow .notebook tab GtkLabel {
    background: none;
    color: @backdrop_terminal_window_text;
}

TerminalWindow .notebook tab:active GtkLabel,
TerminalWindow .notebook .active-page,
TerminalWindow .notebook tab .active-page GtkLabel {
    background: none;
    color: @terminal_window_text;
    font-weight: bold;
    text-shadow: 0 1px alpha(#000,0.2);
}

TerminalWindow .notebook tab:backdrop GtkLabel,
TerminalWindow .notebook tab GtkLabel:backdrop {
    background: none;
    color: @backdrop_terminal_window_text;
}



TerminalWindow .notebook tab .button GtkImage {
    color: @terminal_window_text;
}

TerminalWindow .notebook tab .button:hover GtkImage,
TerminalWindow .notebook tab .button:active GtkImage {
    color: @selection_foreground;
}

TerminalWindow .notebook tab .button:backdrop GtkImage {
    color: @backdrop_terminal_window_text;
}

/**********
 * Screen *
 **********/

TerminalScreen,
VteTerminal {
    /*-TerminalScreen-background-darkness: 0.95;*/
    background-color: @terminal_background;
    color: @terminal_text;
}

/*************
 * Scrollbar *
 *************/


TerminalWindow .scrollbar {
    background-image: none;
    border-style: solid;
    border: 1px solid transparent;
    -GtkRange-trough-border: 2;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkRange-slider-width: 6;
    -GtkScrollbar-min-slider-length: 30;

    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
}

/* Slider */
TerminalWindow .scrollbar.slider {
    background-color: @terminal_text;
    border-radius: 10px;
}

TerminalWindow .scrollbar.slider:hover {
    background-color: shade(@terminal_text, 1.1);
    background-image: none;
}

TerminalWindow .scrollbar.slider:active.
TerminalWindow .scrollbar.slider:prelight:active {
    background-color: shade(@selection, 1.2);
    background-image: none;
}

TerminalWindow .scrollbar.slider:insensitive {
    background-color: alpha(@insensitive_foreground, 0.2);
}

TerminalWindow .scrollbar.slider:backdrop {
    background-color: alpha(@backdrop_foreground, 0.2);
}

TerminalWindow .scrollbar.slider.fine-tune:prelight:active {
      background-image: none;
      border: 3px solid transparent;
}


/* Troughs */
TerminalWindow .scrollbars-junction, /* the small square between scrollbars!!! */
TerminalWindow .scrollbar.trough {
    /*border-radius: 10px;*/
    background-image: none;
    background: @terminal_background;
    border-width: 0;
    border-image: none;
}

TerminalWindow .scrollbar.trough:insensitive {
    background: none;
    border: 3px solid transparent;
}

TerminalWindow .scrollbars-junction:backdrop,
TerminalWindow .scrollbar.trough:backdrop {
    background-image: none;
    background: @terminal_background;
    border-width: 0;
    border-radius: 0;
    border-image: none;
}

TerminalWindow .scrollbar.trough:insensitive:backdrop {
    background-image: none;
    background: none;
    border-width: 0;
    border-radius: 0;
    border-image: none;
}
