/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color terminal #2D5364;

/**********
 * Header *
 **********/

TerminalWindow .titlebar,
TerminalWindow .header-bar {
    background-color: @terminal;
}

TerminalWindow .titlebar:backdrop,
TerminalWindow .header-bar:backdrop{
    background-color: shade(@terminal,0.9);
}


/* Switch */
TerminalWindow .header-bar GtkSwitch.trough:active {
    background-color: @terminal;
}

TerminalWindow GtkSwitch.trough:active {
    border: 1px solid shade(@terminal, 0.8);
    background-color: @terminal;
}

TerminalWindow GtkSwitch.slider:active {
    border: 1px solid shade(@terminal, 0.8);
} 

TerminalWindow .header-bar GtkSwitch.slider:active:backdrop,
TerminalWindow .header-bar GtkSwitch.slider:backdrop {
    background-color: shade(@terminal, 0.9);
}


/************
 * Notebook *
 ************/

/* Active */
TerminalWindow .notebook tab.top:active,
TerminalWindow .dynamic-notebook tab.top:active {
    box-shadow:inset 0 -3px 0 0 @terminal;
}

TerminalWindow .notebook tab.bottom:active,
TerminalWindow .dynamic-notebook tab.bottom:active {
    box-shadow:inset 0 3px 0 0 @terminal;
}

TerminalWindow .notebook tab.left:active,
TerminalWindow .dynamic-notebook tab.left:active {
    box-shadow:inset -3px 0 0 0 @terminal;
}

TerminalWindow .notebook tab.right:active,
TerminalWindow .dynamic-notebook tab.right:active {
    box-shadow:inset 3px 0 0 0 @terminal;
}

/******************
 * GNOME Terminal *
 ******************/
VteTerminal {
    background-color: @panel;
    color: @panel_text;
}

TerminalWindow GtkNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: @panel;
    border-color: transparent;
}

TerminalWindow .scrollbar.button,
TerminalWindow .scrollbar.button:active,
TerminalWindow .scrollbar.button:active:hover {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@panel, 0.6);
}

TerminalWindow .scrollbar.slider {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: shade(@panel, 0.8);
}

TerminalWindow .scrollbar.slider.vertical {
    /* Borders are opposite what you'd expect */
    border-radius: 10px;
    border: 1px solid transparent;
}

TerminalWindow .scrollbar.slider.horizontal {
    /* Borders are opposite what you'd expect */
    border-radius: 10px;
    border: 1px solid transparent;
}

TerminalWindow .scrollbar.slider:hover,
TerminalWindow .scrollbar.slider.vertical:hover {
    border: 1px solid transparent;
    background-color: shade(@panel, 0.8);
}

TerminalWindow .scrollbar.slider:active,
TerminalWindow .scrollbar.slider.vertical:active {
    border: 1px solid transparent;
    background-color: shade(@panel, 1.2);
}