/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color clocks #4BAE4F;

/**********
 * Header *
 **********/

ClocksWindow .titlebar,
ClocksWindow .header-bar {
    background-color: @clocks;
}

ClocksWindow .titlebar:backdrop,
ClocksWindow .header-bar:backdrop {
    background-color: shade(@clocks,0.9);
}


/* Switch */
ClocksWindow .header-bar GtkSwitch.trough:active {
    background-color: @clocks;
}

ClocksWindow GtkSwitch.trough:active {
    border: 1px solid shade(@clocks, 0.8);
    background-color: @clocks;
}

ClocksWindow GtkSwitch.slider:active {
    border: 1px solid shade(@clocks, 0.8);
} 

ClocksWindow .header-bar GtkSwitch.slider:active:backdrop,
ClocksWindow .header-bar GtkSwitch.slider:backdrop {
    background-color: shade(@clocks, 0.9);
}


/**********
 * Frame *
 **********/

ClocksWindow .frame {
    background-color: @background;
    box-shadow: none;
}

ClocksWindow .frame:backdrop {
    background-color: @backdrop_background;
    box-shadow: none;
}