/* Copyright 2015 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color nautilus #636E73;
@define-color disk_space_unknown #888a85;
@define-color disk_space_used #9FB0B9;
@define-color disk_space_free #D8D8D8;


/**********
 * Header *
 **********/

NautilusWindow .titlebar,
NautilusWindow .header-bar {
    background-color: @nautilus;
}

NautilusWindow .titlebar:backdrop,
NautilusWindow .header-bar:backdrop {
    background-color: shade(@nautilus,0.9);
}

NautilusWindow .header-bar GtkSwitch.trough:active {
    background-color: @nautilus;
}

NautilusWindow GtkSwitch.trough:active {
    border: 1px solid shade(@nautilus, 0.8);
    background-color: @nautilus;
}

NautilusWindow GtkSwitch.slider:active {
    border: 1px solid shade(@nautilus, 0.8);
} 

/************
 * Notebook *
 ************/

/* Active */
NautilusWindow .notebook tab.top:active,
NautilusWindow .dynamic-notebook tab.top:active {
    box-shadow:inset 0 -3px 0 0 @nautilus;
}

NautilusWindow .notebook tab.bottom:active,
NautilusWindow .dynamic-notebook tab.bottom:active {
    box-shadow:inset 0 3px 0 0 @nautilus;
}

NautilusWindow .notebook tab.left:active,
NautilusWindow .dynamic-notebook tab.left:active {
    box-shadow:inset -3px 0 0 0 @nautilus;
}

NautilusWindow .notebook tab.right:active,
NautilusWindow .dynamic-notebook tab.right:active {
    box-shadow:inset 3px 0 0 0 @nautilus;
}

.nautilus-circular-button,
.button .image-button .nautilus-circular-button {
    border-radius: 50%;
}

.nautilus-canvas-item {
    border-radius: 5px;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
    color: mix (@theme_fg_color, @theme_bg_color, 0.50);
}

.nautilus-canvas-item.dim-label:selected,
.nautilus-list-dim-label:selected {
    color: mix (@theme_selected_fg_color, @theme_selected_bg_color, 0.20);
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_selected_fg_color;
    text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

.nautilus-desktop.nautilus-canvas-item:selected:backdrop {
    color: @theme_unfocused_selected_fg_color;
}

.nautilus-circular-button {
  border-radius: 20px;
  outline-radius: 20px;
}

/* Floating status bar */
.floating-bar {
  padding: 2px;
  background-color: @background;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @border;
  border-radius: 3px 3px 0 0;
}

.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: @backdrop_background;
  border-color: @backdrop_border;
}

.floating-bar .button {
    padding: 4px;
}

.search-bar {
    box-shadow: none;
}

.disk-space-display {
    border: 2px solid;
}

.disk-space-display.unknown {
    background-color: @disk_space_unknown;
    border-color: shade(@disk_space_unknown, 0.8);
}

.disk-space-display.used {
    background-color: @disk_space_used;
    border-color: shade(@disk_space_used, 0.8);
}

.disk-space-display.free {
    background-color: @disk_space_free;
    border-color: shade(@disk_space_free, 0.8);
}


/***********
 * Desktop *
 ***********/

.nautilus-canvas-item {
    border-radius: 5px;
}

.nautilus-desktop {
    color: @foreground;
}

.nautilus-desktop.nautilus-canvas-item {
    color: #fff;
    text-shadow: 1px 1px alpha(#000, 0.2);
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: #fff;
}

.nautilus-desktop.nautilus-canvas-item:backdrop {
    color: #fff;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @selected_foreground;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
}

.nautilus-desktop.nautilus-canvas-item:selected:backdrop {
    color: @backdrop_selected_foreground;
}