/* Copyright 2016 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color snap #6d266a;
@define-color snap_background #434343;

/**********
 * Header *
 **********/

SnapSnapWindow .titlebar,
SnapSnapWindow .header-bar {
    background-color: @snap;
}

SnapSnapWindow .titlebar:backdrop,
SnapSnapWindow .header-bar:backdrop {
    background-color: shade(@snap,0.9);
}

SnapSnapWindow .take-button {
	border-radius: 0;
}

SnapWidgetsCamera {
	background-color:@snap_background;
}

SnapWidgetsCamera:backdrop {
	background-color:shade(@snap_background, 0.9);
}