/* Copyright 2016 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/********
 * Xfce *
 ********/

XfceHeading,
.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-image: none;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.xfce4-panel {
    background-color: @panel_bg_color;
    color: @panel_fg_color;
    font: normal;
}

.xfce4-panel .button {
    padding: 0 2px;
    border-radius: 0;
    border-style: none;
    color: @panel_fg_color;
    box-shadow: none;
    -gtk-image-effect: none;
}

.xfce4-panel .button:active {
    background-color: shade(@panel_bg_color, 0.9);
    background-image: none;
    border: none;
    color: @panel_fg_color;
    box-shadow: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-color: shade(@panel_bg_color, 1.3);
    background-image: none;
    border: none;
    color: @panel_fg_color;
    box-shadow: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}
