/************
 * Popovers *
 ************/

GraniteWidgetsPopOver {

  -GraniteWidgetsPopOver-arrow-width: 21;
  -GraniteWidgetsPopOver-arrow-height: 10;
  -GraniteWidgetsPopOver-border-radius: 8px;
  -GraniteWidgetsPopOver-border-width: 0;
  -GraniteWidgetsPopOver-shadow-size: 12;
  
  border: 1px solid $base_color;
  background: $base_color;
  color: $fg_color;

  .button {
    background-image: none;
    background: none;
    border: none;

    &:active,
    &:active:hover, {
      color: $selected_bg_color;
    }
  }

  > .frame {
    border:none;
  }

  .sidebar.view {
    border: none;
    background: none;
  }
}

GraniteWidgetsStaticNotebook .frame {
  border: none;
}

.popover_bg {
  background-color: $base_color;
  background-image: none;
  border: 1px solid $base_color;
  color: $fg_color;
}


/***********
 * Welcome *
 **********/

GraniteWidgetsWelcome {
  background-color: $base_color;

  GtkLabel {
    color: $fg_color;
  }

  .h1,.h3 {
    color: transparentize($fg_color, 0.2);
  }
}