/*************
 * Level Bar *
 *************/
GtkLevelBar,
levelbar {
  .fill-block,
  block {
    min-width: 32px;
    min-height: 1px;
  }

  &.vertical block {
    min-width: 1px;
    min-height: 32px;
  }

  &:backdrop { transition: $backdrop_transition; }

  .trough,
  trough {
    border: 1px solid;
    padding: 2px;
    border-radius: 3px;
    @include entry(normal);

    &:backdrop { @include entry(backdrop); }
  }

  &.horizontal.indicator-discrete.fill-block { margin: 0 1px; }
  &.horizontal.discrete block { margin: 0 1px; }

  &.vertical.indicator-discrete.fill-block { margin: 1px 0; }
  &.vertical.discrete block { margin: 1px 0; }

  .fill-block:not(.empty),
  block:not(.empty) {
    border: 1px solid if($variant=='light', darken($selected_bg_color,10%),
                                              darken($selected_bg_color,5%));
    background-color: $selected_bg_color;
    box-shadow: 0 1px transparentize(black, 0.9);
    border-radius: 1px;

    &:backdrop {
      border-color: $selected_bg_color;
      box-shadow: none;
    }
  }

  .fill-block,
  block {
    &.low {
      border-color: darken($warning_color,10%);
      background-color: $warning_color;

      &:backdrop { border-color: $warning_color; };
    }

    &.high {
      border-color: darken($selected_bg_color,10%);
      background-color: $selected_bg_color;

      &:backdrop { border-color: $selected_bg_color; }
    }

    &.full {
      border-color: darken($success_color,10%);
      background-color: $success_color;

      &:backdrop { border-color: $success_color; };
    }

    &.empty {
      border: 1px solid if($variant=='light', darken($selected_bg_color,10%),
                                              darken($selected_bg_color,5%));
      border-radius: 1px;
      background-color: transparent;
      border-color: if($variant=='light', transparentize($fg_color,0.8),
                                          transparentize($fg_color,0.9));
      box-shadow: none;

      &:backdrop { border-color: transparentize($backdrop_fg_color,0.85); }
    }
  }
}
