/********
 * Misc *
 ********/

//content view (grid/list)
.content-view {
  background-color: darken($bg_color,7%);

  &:hover { -gtk-icon-effect: highlight; }

  &:backdrop { background-color: darken($bg_color,7%); }

  rubberband { @extend rubberband; }
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & button.flat {  //FIXME: quick hack, redo properly
    border-style: none;
    border-radius: 5px;
  }
  
  // +/- buttons on GtkVolumeButton popup
  .button,
  button { 
    &:hover {
      @extend %undecorated_button;
      background-color: transparentize($fg_color,0.9);
      border-radius: 5px;
    }

    &:backdrop { &:hover, &:disabled, & { @extend %undecorated_button; }}
  }
}

separator,
.separator {
  color: $borders_color;
}

/**************
* Text Styles *
**************/

.h1 {
  font-size: 24px;
}

.h2 {
  font-weight: 300;
  font-size: 18px;
}

.h3 {
  font-size: 11px;
}

.h4,
.category-label {
  font-size: 12px;
  padding: 6px;
  color: mix ($bg_color, $text_color, 50%);
  font-weight: bold;
  text-shadow: 0 1px transparentize(white,0.8);
}