/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***************
 * Action bars *
 ***************/
.action-bar {
    border: solid @border;
    border-top-width: 1px;
    background-color: @background;
    padding: 6px 6px 5px 6px;
}

.action-bar:backdrop {
    border: solid @backdrop_border;
    border-top-width: 1px;
    background-color: @backdrop_background;
}

.action-bar .button.text-button {
    padding: 2px 16px;
}

.action-bar .button.image-button {
    padding: 5px 5px 4px 5px;
}

.action-bar .title {
    font: Bold 11;
    padding: 0px 12px 0px 12px;
}

.action-bar .subtitle {
    font: 9;
    padding: 0px 12px 0px 12px;
}