/* Copyright 2016 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***********
* Calendar *
************/

GtkCalendar {
    padding: 2px;
    border-radius: 2px;
    background-color: shade(@background, 0.8);
    color:@text;
}

GtkCalendar.view {
    border-radius: 4px;
    border: 1px solid @border;
    border-width: 1px;
    color: @text;
}

GtkCalendar.header {
    border-radius: 0;
    background-color: @background;
    border-width: 0;
    color: @text;
}

GtkCalendar.button {
    color: @text;
}

GtkCalendar.button:insensitive,
GtkCalendar.button:backdrop,
GtkCalendar.button:insensitive:backdrop {
    background: none;
}

.highlight,
GtkCalendar.highlight {
    background-color: @selection;
    color: @selection_foreground;
    border-radius: 0;
    padding: 0;
    border-width: 0;
}

GtkCalendar.button,
GtkCalendar.button:insensitive,
GtkCalendar.header,
GtkCalendar.view {
    background: none;
    background-image: none;
}