/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*****************
 * Column header *
 *****************/
 
column-header.button,
column-header .button,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover,
column-header.button:backdrop,
column-header .button:backdrop,
column-header.button:insensitive,
column-header .button:insensitive,
column-header.button:last-child:backdrop,
column-header:last-child .button:backdrop {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    border-style: solid;
    border-color: @border;
}

column-header.button,
column-header .button,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover,
column-header .button.dnd {
    border-radius: 0;
    border-color: @border;
}

column-header.button:backdrop,
column-header .button:backdrop,
column-header.button:last-child:backdrop,
column-header:last-child .button:backdrop {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    border-style: solid;
    border-color: @backdrop_border;
}

column-header.button:insensitive,
column-header .button:insensitive {
    border-radius: 0;
    border-color: @insensitive_border;
}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:last-child:active,
column-header:last-child .button:active,
column-header.button:last-child:active:hover,
column-header:last-child .button:active:hover,
column-header.button:last-child:backdrop,
column-header:last-child .button:backdrop {
    border-radius: 0;
    border-right-width: 0;
}