/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/************
 * Combobox *
 ************/

GtkComboBox {
    padding: 0;

    -GtkComboBox-arrow-scaling: 0.5;
    -GtkComboBox-shadow-type: none;
    color: @foreground;

}

GtkCombobox *:insensitive {
    background-color: @insensitive_background;
    -GtkComboBox-shadow-type: none;
    background-image: none;
    color: @insensitive_text;
}

GtkCombobox *:active {
    background-color: @selection;
    border: 1px solid @selection;
    color: @selected_foreground;
}

GtkCombobox *:hover {
    background-color: @selection;
    border: 1px solid @selection;
    color: @selected_foreground;
}

GtkCombobox *:selected {
    background-color: @selection;
    border: 1px solid @selection;
    color: @selected_foreground;
}

GtkCombobox *:backdrop {
    background-color: @backdrop_background;
    color: @backdrop_text;
}

GtkCombobox *:insensitive:backdrop {
    color: mix(@backdrop_text, @insensitive_text, 0.2);
}

GtkCombobox *:selected:backdrop {
    color: @backdrop_selected_foreground;
    background-color: @backdrop_selected_background
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

GtkComboBox .arrow {
    background: none;
    border: none;
    color: @foreground;
}




/* Images */
GtkCombobox:active GtkImage,
GtkCombobox:focus GtkImage,
GtkCombobox:hover GtkImage {
    color: @selected_foreground;
}

GtkCombobox:backdrop GtkImage,
GtkCombobox:backdrop:hover GtkImage,
GtkCombobox:active:backdrop GtkImage {
    color: @backdrop_text;
    -gtk-image-effect: dim;
}

GtkCombobox:insensitive GtkImage {
    color: @insensitive_text;
    -gtk-image-effect: dim;
}

GtkCombobox:insensitive:backdrop GtkImage {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
    -gtk-image-effect: dim;
}

/* Labels */
GtkCombobox:active GtkLabel,
GtkCombobox:focus GtkLabel,
GtkCombobox:hover GtkLabel {
    color: @selected_foreground;
}

GtkCombobox:backdrop GtkLabel,
GtkCombobox:backdrop:hover GtkLabel,
GtkCombobox:active:backdrop GtkLabel {
    color: @backdrop_text;
}

GtkCombobox:insensitive GtkLabel {
    color: @insensitive_text;
}

GtkCombobox:insensitive:backdrop GtkLabel {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
}


/******************
 * Combobox Entry *
 ******************/

/* Button */
GtkComboBox.combobox-entry .button {
    box-shadow: none;
}

GtkComboBox.combobox-entry .button:first-child {
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
}

GtkComboBox.combobox-entry .button:last-child {
    border-radius: 0 4px 4px 0;
}

/* Entry */
GtkComboBox.combobox-entry .entry {
    box-shadow: none;
}

GtkComboBox.combobox-entry .entry:first-child {
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
}

GtkComboBox.combobox-entry .entry:last-child {
    border-radius: 0 4px 4px 0;
}


/* Images */
GtkCombobox GtkImage {
    color: @text;
}

GtkCombobox:active GtkImage,
GtkCombobox:focus GtkImage,
GtkCombobox:hover GtkImage {
    color: @selected_foreground;
}

GtkCombobox:backdrop GtkImage,
GtkCombobox:backdrop:hover GtkImage,
GtkCombobox:active:backdrop GtkImage {
    color: @backdrop_text;
    -gtk-image-effect: dim;
}

GtkCombobox:insensitive GtkImage {
    color: @insensitive_text;
    -gtk-image-effect: dim;
}

GtkCombobox:insensitive:backdrop GtkImage {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
    -gtk-image-effect: dim;
}

/* Labels */
GtkCombobox GtkLabel {
    color: @text;
}

GtkCombobox:active GtkLabel,
GtkCombobox:focus GtkLabel,
GtkCombobox:hover GtkLabel {
    color: @selected_foreground;
}

GtkCombobox:backdrop GtkLabel,
GtkCombobox:backdrop:hover GtkLabel,
GtkCombobox:active:backdrop GtkLabel {
    color: @backdrop_text;
}

GtkCombobox:insensitive GtkLabel {
    color: @insensitive_text;
}

GtkCombobox:insensitive:backdrop GtkLabel {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
}