/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/**************
 * Header Bar *
 **************/

.header-bar {
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: @header;
    color: @header_text;
    box-shadow: inset 0 -3px 3px -4px alpha(#000, 0.7);
}

.header-bar:backdrop {
    background-color: @backdrop_header;
    color: @backdrop_header_text;
    box-shadow: none;
}

.header-bar *:insensitive {
    color: @insensitive_header_text;
}

/* Title */
.header-bar .title {
    font: Bold 11;
    color: @header_text;
}

.header-bar .title:backdrop {
    color: @backdrop_header_text;
}

/* Subtitle */
.header-bar .subtitle {
    font: 9;
}


/***********************
 * Header bar buttons  *
 ***********************/

.header-bar .button,
.header-bar .title .button {
    padding: 13px;
}

.header-bar .text-button,
.header-bar .button .text-button {
    color: @header_text;
    padding: 13px;
}

.header-bar .image-button
.header-bar .image-button .button {
    padding: 13px;
}

/* Normal Button */
.header-bar .button .default,
.header-bar .button GtkImage,
.header-bar .text-button,
.header-bar .button .text-button,
.header-bar .button .flat,
.header-bar .image-button .button,
.header-bar .image-button,
.header-bar .button,
.header-bar .linked .button,
.header-bar GtkComboBox {
    border-radius: 0px;
    background: none;
    border: none;
    color: @header_text;
}

/* Active Button */
.header-bar .button .default:active,
.header-bar .button GtkImage:active,
.header-bar .text-button:active,
.header-bar .button .text-button:active,
.header-bar .button .flat:active,
.header-bar .image-button .button:active,
.header-bar .image-button:active,
.header-bar .button:active,
.header-bar .linked .button:active,
.header-bar GtkComboBox:active {
    border-radius: 0px;
    font: Bold;
    border: none;
    color: @header_text;
    box-shadow: inset 0 -2px 0 0 @header_text;
}

/* Focus Button */
.header-bar .button .default:focus,
.header-bar .button GtkImage:focus,
.header-bar .text-button:focus,
.header-bar .button .text-button:focus,
.header-bar .button .flat:focus,
.header-bar .image-button .button:focus,
.header-bar .image-button:focus,
.header-bar .button:focus,
.header-bar .linked .button:focus,
.header-bar GtkComboBox:focus {
    border-radius: 0px;
    background: none;
    font: Bold;
    border: none;
    color: @header_text;
    box-shadow: inset 0 -2px 0 0 @header_text;
}

/* Hover Button */
.header-bar .button .default:hover,
.header-bar .button GtkImage:hover,
.header-bar .text-button:hover,
.header-bar .button .text-button:hover,
.header-bar .button .flat:hover,
.header-bar .image-button:hover,
.header-bar .image-button .button:hover,
.header-bar .button:hover,
.header-bar .linked .button:hover,
.header-bar GtkComboBox:hover {
    border-radius: 0px;
    background: alpha(#000, 0.1);
    border: none;
    color: @header_text;
}

/* Backdrop Button */
.header-bar .button GtkImage:backdrop,
.header-bar .text-button:backdrop,
.header-bar .button .text-button:backdrop,
.header-bar .button .flat:backdrop,
.header-bar .image-button .button:backdrop,
.header-bar .image-button:backdrop,
.header-bar .button:backdrop,
.header-bar .linked .button:backdrop,
.header-bar GtkComboBox:backdrop {
    border-radius: 0px;
    background: none;
    border: none;
    color: @backdrop_header_text;
}

.header-bar .button .default:backdrop {
    border-radius: 0px;
    background: none;
    border: none;
    color: @backdrop_header_text;
    box-shadow: inset 0 -2px 0 0 @backdrop_header_text;
}

/* Active:Backdrop Button */
.header-bar .button .default:active:backdrop,
.header-bar .button GtkImage:active:backdrop,
.header-bar .button .text-button:active:backdrop,
.header-bar .text-button:active:backdrop,
.header-bar .button .flat:active:backdrop,
.header-bar .image-button .button:active:backdrop,
.header-bar .image-button:active:backdrop,
.header-bar .button:active:backdrop,
.header-bar .linked .button:active:backdrop,
.header-bar GtkComboBox:active:backdrop {
    border-radius: 0px;
    background: alpha(#000, 0.2);
    font: Bold;
    border: none;
    color: @backdrop_header_text;
    box-shadow: inset 0 -2px 0 0 @backdrop_header_text;
}

/* Backdrop:Hover; Button */
.header-bar .button .default:backdrop:hover,
.header-bar .button GtkImage:backdrop:hover,
.header-bar .button .text-button:backdrop:hover,
.header-bar .text-button:backdrop:hover,
.header-bar .button .flat:backdrop:hover,
.header-bar .image-button .button:backdrop:hover,
.header-bar .image-button:backdrop:hover,
.header-bar .button:backdrop:hover,
.header-bar .linked .button:backdrop:hover,
.header-bar GtkComboBox:backdrop:hover {
    border-radius: 0px;
    background: alpha(#000, 0.1);
    border: none;
    color: @backdrop_header_text;
}

/* Insensitive Button */
.header-bar .button .default:insensitive,
.header-bar .button GtkImage:insensitive,
.header-bar .button .text-button:insensitive,
.header-bar .text-button:insensitive,
.header-bar .button .flat:insensitive,
.header-bar .image-button .button:insensitive,
.header-bar .image-button:insensitive,
.header-bar .button:insensitive,
.header-bar .linked .button:insensitive,
.header-bar GtkComboBox:insensitive {
    border-radius: 0px;
    background: none;
    font: Bold;
    border: none;
    color: @insensitive_header_text;
}



/*************************
 * Header bar separator  *
 *************************/

.header-bar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 0;
    background-color: @border;
    color: @border;
    border:none;
}

/* Separator 
.header-bar .separator,
.header-bar .button .separator,
.header-bar .button.separator {
    background-color: @border;
    color: transparent;
    border:none;
} */


/********************
 * Header bar entry *
 ********************/

.header-bar .entry {
    background-color: transparent;
    color: @header_text;
    padding: 6px;
    border-radius: 6px;
    border: none;
    icon-shadow:none;
}

.header-bar .entry:active,
.header-bar .entry:focus {
    background-color: transparent;
    color: @header_text;
    border: none;
}

.header-bar .entry:backdrop {
    background-color: transparent;
    color: @backdrop_header_text;
    border: none;
}

.header-bar .entry.image {
    color: @insensitive_base;
    icon-shadow:none;
}

.header-bar .entry.image.left {
    padding-right: 6px;
    color: @header_text;
    icon-shadow:none;
}


/*********************
 * Header bar switch *
 *********************/

.header-bar GtkSwitch {
    border-radius: 1em;
    font: condensed;
}

/* Trough */
.header-bar GtkSwitch.trough {
    border-radius: 1em;
    border: 1px solid alpha(#000, 0.5);
    background-color: @base;
    color: alpha(@text, 0.5);
}

.header-bar GtkSwitch.trough:active {
    border: 1px solid alpha(#000, 0.5);
    background-color: @selection;
    color: @selection_foreground;
}

.header-bar GtkSwitch.trough:backdrop,
.header-bar GtkSwitch.trough:active:backdrop {
    border: 1px solid alpha(#000, 0.2);
    color: @backdrop_text;
}

.header-bar GtkSwitch.trough:insensitive,
.header-bar GtkSwitch.trough:active:insensitive {
    border: 1px solid alpha(#000, 0.2);
    color: @insensitive_text;
}

/* Slider */

.header-bar GtkSwitch.slider {
    border: 1px solid alpha(#000, 0.4);
    background-color: @base;
}

.header-bar GtkSwitch.slider:active {
    border: 1px solid alpha(#000, 0.4);
    background-color: @base;
}

.header-bar GtkSwitch.slider:active:insensitive,
.header-bar GtkSwitch.slider:insensitive {
    border: 1px solid alpha(#000, 0.2);
    background-color: @insensitive_base;
}

.header-bar GtkSwitch.slider:active:backdrop,
.header-bar GtkSwitch.slider:backdrop {
    border: 1px solid alpha(#000, 0.3);
    background-color: shade(@header, 0.9);
}