/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*********
 * Images *
 **********/
 
GtkImage,
* GtkImage {
	background: none;
    color: @toolbar_text;
}

GtkImage:backdrop,
* GtkImage:backdrop {
	background: none;
    color: @backdrop_toolbar_text;
    -gtk-image-effect: dim;
}

GtkImage:insensitive,
* GtkImage:insensitive {
	background: none;
    color: @insensitive_toolbar_text;
    -gtk-image-effect: dim;
}

GtkImage:insensitive:backdrop,
* GtkImage:insensitive:backdrop {
	background: none;
    color: mix(@backdrop_toolbar_text , @insensitive_toolbar_text , 0.5);
    -gtk-image-effect: dim;
}

/*******************
 * Symbolic Images *
 *******************/

.image {
    color: @internal_element;
}

.image:hover {
    color: @internal_element_prelight;
}

.image:selected,
.image:selected:hover {
    color: @selected_foreground;
}

.view.image:backdrop,
.image:backdrop {
    color: @backdrop_text;
}
.view.image:insensitive,
.image:insensitive {
    color: @insenstive_text;
}

.view.image,
.view.image:hover {
    color: @view_symbolic;
}

.view.image:selected,
.view.image:selected:hover {
    color: @selected_foreground;
}
