/* Copyright 2015 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * GtkInfoBar *
 **************/

.info,
GtkInfoBar {
    background-color: @background;
    background-image: linear-gradient(to bottom, 
                                      @background,
                                      shade(@background, 0.98)
                                      );
    color: @foreground;
    border-style: solid;
    border-color: @border;
    border-bottom-width: 1px;
}

.info GtkLabel,
GtkInfoBar GtkLabel {
    color: @foreground;
}

GtkInfoBar .entry,
GtkInfoBar .menu {
    color: @foreground;
}

GtkInfoBar GtkLabel:insensitive {
    color: @insensitive_text;
}

GtkInfoBar .button,
GtkInfoBar .button:focus,
.dynamic-notebook GtkInfoBar .button {
    color: @selected_foreground;
}

GtkInfoBar .button:active,
GtkInfoBar .button:hover:active {
    color: @selected_foreground;
}

GtkInfoBar .button:insensitive {
}