/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*********
* Lists *
*********/
.list,
.list-row {
    background-color: @background;
    border-color: @border;
}

.list:backdrop,
.list-row:backdrop {
    background-color: @backdrop_background;
    border-color: @backdrop_border;
}

.list-row,
.grid-child {
    padding: 2px;
}

/* List Row Button */
.button.list-row {
}

.button.list-row:hover  {
    background-color: alpha(@selection, 0.2);
    color: @selection;
}

.button.list-row:active,
.button.list-row:selected {
    background-color: alpha(@selection, 0.4);
    color: @selection;
}

.button.list-row:active:selected,
.button.list-row:active:selected:hover {
    background-color: alpha(@selection, 0.2);
    color: @selection;
}

.button.list-row:hover:selected {
    background-color: alpha(@selection, 0.2);
    color: @selection;
}


.list-row.button,
.header-bar .list-row.button.titlebutton,
.titlebar .list-row.button.titlebutton {
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    box-shadow: none;
}

.list-row.button:hover {
    border-color: @selection;
    background-color: @selection;
    color: @selected_foreground;
    box-shadow: none;
}

.list-row.button:active {
    box-shadow: none;
}

.list-row.button:selected:active {
}

.list-row.button:selected:hover {
    border-color: shade(@selection, 1.2);
    background-color: shade(@selection, 1.2);
}

.list-row.button:selected:backdrop {
    background-color: @backdrop_selection;
}

.list-row:selected .button {
    color: @button;
    border-color: @border;
    border-color: @selected_border;
}

.list-row:selected .button.flat,
.list-row:selected .header-bar .titlebutton.button,
.header-bar .list-row:selected .titlebutton.button,
.list-row:selected .titlebar .titlebutton.button,
.titlebar .list-row:selected .titlebutton.button {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @selection;
}

.list-row:selected .button:hover {
    color: @button;
    border-color: @border;
    border-color: @selected_border;
    box-shadow: none;
}

.list-row:selected .button:active,
.list-row:selected .button:checked {
    color: @button;
    border-color: @border;
    border-color: @selected_border;
}

.list-row:selected .button:backdrop,
.list-row:selected .button.flat:backdrop,
.list-row:selected .header-bar .titlebutton.button:backdrop,
.header-bar .list-row:selected .titlebutton.button:backdrop,
.list-row:selected .titlebar .titlebutton.button:backdrop,
.titlebar .list-row:selected .titlebutton.button:backdrop {
    color: @insensitive_background;
    border-color: @insensitive_border;
    border-color: @selected_border;
}

.list-row, list-row.button,
.header-bar list-row.button.titlebutton,
.titlebar list-row.button.titlebutton {
    transition: all 300ms cubic-bezier(0.3, 0.5, 0.5, 0.9);
}

.list-row:hover, list-row.button:hover,
.header-bar list-row.button.titlebutton:hover,
.titlebar list-row.button.titlebutton:hover {
    transition: none;
}
