/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/********
 * Menu *
 ********/
 
.menu {
    border-image: none;
    box-shadow: 0 2px 3px 2px @menu_shadow;
}

.menu,
.popup {
    padding: 4px 0;
    border-radius: 4px;
    background-color: @background;
    color: @text;
}

/*Context Menu*/

.context-menu {
    font: initial;
    box-shadow: 0 2px 3px 2px @menu_shadow;
}

.content-view .menu {
    padding: 0 1px;
    background-color: @background;
    background-image: none;
    color: @text;
}

.content-view .menu .menuitem:active,
.content-view .menu .menuitem:hover {
    background-color: @selection;
    color: @base;
}

/* Menu Item */
.menuitem,
.menu .menuitem,
.popup .menuitem {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border:none;
    color: @text;

    -GtkMenuItem-arrow-scaling: 0.5;
    -gtk-icon-style: symbolic;
}

/* Active */
.menuitem:active,
.menu .menuitem:active,
.popup .menuitem:active {
    background-color: @selection;
    color: @selection_foreground;

    -gtk-icon-style: symbolic;
}

/* Hover*/
.menuitem:hover,
.menu .menuitem:hover,
.popup .menuitem:hover{
    background-color: @selection;
    color: @selection_foreground;

    -gtk-icon-style: symbolic;
}

.menuitem:backdrop,
.menu .menuitem:backdrop {
    box-shadow: none;
    border: none;
    color: @backdrop_text;
}

.menuitem:insensitive,
.menu .menuitem:insensitive {
    box-shadow: none;
    border: none;
    color: @insensitive_text;
}

/* Arrows */
.menu .menuitem.arrow {
    color: @text;
}

.menu .menuitem.arrow {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
.menu .menuitem.arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

/* Separator color */
.menuitem.separator {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color: @separator;
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

.menuitem .entry {
    border: none;
    background-color: @base;
    background-image: none;
    color: @foreground;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border: none;
    color: @text;
}

/* Accelerators */
.menuitem .accelerator,
.menuitem .accelerator:insensitive {
    background: none;
    color: alpha(@foreground, 0.7);
}

.menuitem .accelerator:hover,
.menuitem .accelerator:active {
    background: none;
    color: alpha (@foreground, 0.3);
}


/* Menu Text */
.menuitem GtkLabel {
    padding-left: 2px;
    padding-right: 2px;
}

.menu .menuitem GtkLabel,
.popup .menuitem GtkLabel {
    padding-left: 6px;
    padding-right: 2px;
}

/* Something is utterly broken where I've had to do this ugly bit of styling. */

/* Images */
.menuitem GtkImage,
.menu .menuitem GtkImage,
.popup .menuitem GtkImage,
.menu .menuitem .menu .menuitem GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem GtkImage {
    color: @text;
}

.menu .menuitem:active GtkImage,
.menu .menuitem .menu .menuitem:active GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:active GtkImage,
.menu .menuitem:hover GtkImage,
.menu .menuitem .menu .menuitem:hover GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:hover GtkImage,
.menu .menuitem:focus GtkImage,
.menu .menuitem .menu .menuitem:focus GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:focus GtkImage,
.menuitem:active GtkImage,
.menuitem:focus GtkImage,
.menuitem:hover GtkImage {
    color: @selected_foreground;
}

.menu .menuitem:backdrop GtkImage,
.menu .menuitem .menu .menuitem:backdrop GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:backdrop GtkImage,
.menu .menuitem:active:backdrop GtkImage,
.menu .menuitem .menu .menuitem:active:backdrop GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:active:backdrop GtkImage,
.menu .menuitem:backdrop:hover GtkImage,
.menu .menuitem .menu .menuitem:backdrop:hover GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:backdrop:hover GtkImage,
.menuitem:backdrop GtkImage,
.menuitem:backdrop:hover GtkImage,
.menuitem:active:backdrop GtkImage {
    color: @backdrop_text;
    -gtk-image-effect: dim;
}

.menu .menuitem:insensitive GtkImage,
.menu .menuitem .menu .menuitem:insensitive GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:insensitive GtkImage,
.menuitem:insensitive GtkImage {
    color: @insensitive_text;
    -gtk-image-effect: dim;
}

.menu .menuitem:insensitive:backdrop GtkImage,
.menu .menuitem .menu .menuitem:insensitive:backdrop GtkImage,
.menu .menuitem .menu .menuitem .menu .menuitem:insensitive:backdrop GtkImage,
.menuitem:insensitive:backdrop GtkImage {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
    -gtk-image-effect: dim;
}

/* Labels */
.menuitem GtkLabel,
.menu .menuitem GtkLabel,
.popup .menuitem GtkLabel,
.menu .menuitem .menu .menuitem GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem GtkLabel {
    color: @text;
}

.menu .menuitem:active GtkLabel,
.popup .menuitem:active GtkLabel,
.menu .menuitem .menu .menuitem:active GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:active GtkLabel,
.menu .menuitem:hover GtkLabel,
.menu .menuitem .menu .menuitem:hover GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:hover GtkLabel,
.menu .menuitem:focus GtkLabel,
.menu .menuitem .menu .menuitem:focus GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:focus GtkLabel,
.menuitem:active GtkLabel,
.menuitem:focus GtkLabel,
.menuitem:hover GtkLabel {
    color: @selected_foreground;
}

.menu .menuitem:backdrop GtkLabel,
.popup .menuitem:backdrop GtkLabel,
.menu .menuitem .menu .menuitem:backdrop GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:backdrop GtkLabel,
.menu .menuitem:active:backdrop GtkLabel,
.menu .menuitem .menu .menuitem:active:backdrop GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:active:backdrop GtkLabel,
.menu .menuitem:backdrop:hover GtkLabel,
.menu .menuitem .menu .menuitem:backdrop:hover GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:backdrop:hover GtkLabel,
.menuitem:backdrop GtkLabel,
.menuitem:backdrop:hover GtkLabel,
.menuitem:active:backdrop GtkLabel {
    color: @backdrop_text;
}

.menu .menuitem:insensitive GtkLabel,
.popup .menuitem:insensitive GtkLabel,
.menu .menuitem .menu .menuitem:insensitive GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:insensitive GtkLabel,
.menuitem:insensitive GtkLabel {
    color: @insensitive_text;
}

.menu .menuitem:insensitive:backdrop GtkLabel,
.popup .menuitem:insensitive:backdrop GtkLabel,
.menu .menuitem .menu .menuitem:insensitive:backdrop GtkLabel,
.menu .menuitem .menu .menuitem .menu .menuitem:insensitive:backdrop GtkLabel,
.menuitem:insensitive:backdrop GtkLabel {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
}