/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color popover_shadow alpha(#000, 0.4);

/*************************
 * Touch text selections *
 *************************/
GtkPopover {
    border-radius: 6px;
    background-clip: border-box;
    background-color: @background;

    border: 1px solid @border;

    box-shadow: 0 2px 6px 3px @popover_shadow;
    margin: 10px;
}

GtkPopover.osd {
    background-color: @osd_popover_background;
    border-color: @border;
    box-shadow: 0 2px 8px 3px alpha(@popover_shadow, 0.4), inset 0 1px 0 0 @osd_popover_background;
    color: darker(white);
}

GtkPopover:backdrop {
  box-shadow: none;
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-color: transparent;
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0px;
    border-width: 0px;
    background-image: none;
    background-color: transparent;
}

GtkModelButton.button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
    color: @foreground;
}

GtkModelButton.button:active,
GtkModelButton.button:insensitive,
GtkModelButton.button:active:insensitive,
GtkModelButton.button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
}

GtkModelButton.button:backdrop,
GtkModelButton.button:hover:backdrop,
GtkModelButton.button:insensitive:backdrop,
GtkModelButton.button:active:insensitive:backdrop,
GtkModelButton.button:active:backdrop,
GtkModelButton.button:active:hover:backdrop,
GtkModelButton.button:active:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
    color: @backdrop_foreground;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
}

GtkPopover .separator {
    font-size: 80%;
    font-weight: bold;
    color: alpha(@foreground,0.4);
    text-shadow: none;
    background-color: transparent;
    icon-shadow: none;
    border: 0;
}

GtkModelButton.button:active:hover,
GtkModelButton.button:hover,
GtkModelButton.button:selected {
    background-image: none;
    background-color: @selected_background;
    color: @selected_foreground;
    text-shadow: none;
    border-width: 0;
    border-color: transparent;
}
