/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color search @base;
@define-color search_text @text;


/***************
 * Search bars *
 ***************/

.search-bar.toolbar,
.search-bar {
    background: @search;
    border-bottom: 1px solid @border;
    box-shadow: inset 0 -3px 3px -4px alpha(#000, 0.5);
    color: @search_text;
}

.search-bar.toolbar:backdrop,
.search-bar:backdrop {
    background: shade(@search, 0.9);
    border-bottom: 1px solid @border;
    box-shadow: none;
    color: shade(@search_text, 0.9);
}

.search-bar.toolbar:backdrop,
.search-bar:backdrop {
    background: shade(@search, 0.9);
    border-bottom: 1px solid @border;
    box-shadow: inset 0 -1px 2px -1px alpha(#000, 0.3);
    color: shade(@search_text, 0.9);
}

/* Entry */
.search-bar .entry {
    color: @search_text;
    border-radius: 0px;
    border: none;
    background:transparent;
}

.search-bar .entry:focus {
    color: @search_text;
    border: solid @search_text;
    border-bottom-width: 1px;
}

.search-bar .entry:backdrop {
    color: shade(@search_text,0.9);
    border: solid @search_text;
    border-bottom-width: 1px;
}


/***********
 * Buttons *
 ***********/
.search-bar.toolbar .button,
.search-bar .button {
    border: none;
    color: @search_text;
}

.search-bar.toolbar .button:active,
.search-bar .button:active {
    border: none;
    color: @search_text;
    box-shadow: inset 0 -2px 0 0 @search_text;
}

/* Hover */
.search-bar.toolbar .button:hover,
.search-bar .button:hover,
.search-bar.toolbar .button:active:hover,
.search-bar .button:active:hover{
    border: none;
    background: alpha(#000, 0.1);
    color: @search_text;
    box-shadow: inset 0 -2px 0 0 @search_text;
}

/********************
 * Search bar entry *
 ********************/

.search-bar .entry {
    background-color: transparent;
    color: @text;
    padding: 6px;
    border-radius: 6px;
    border: none;
    icon-shadow:none;
}

.search-bar .entry:active,
.search-bar .entry:focus {
    background-color: transparent;
    color: @text;
    border: none;
}

.search-bar .entry:backdrop {
    background-color: transparent;
    color: @backdrop_text;
    border: none;
}

.search-bar .entry.image {
    color: @insensitive_text;
    icon-shadow:none;
}

.search-bar .entry.image.left {
    padding-right: 6px;
    color: @text;
    icon-shadow:none;
}
