/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/**************
 * Spinbutton *
 **************/
.spinbutton {
    border-radius: 6px;
    border: 1px solid @border;
    box-shadow: none;
    color: @text;
}

.spinbutton:focus {
    box-shadow: none;
}

.spinbutton .button {
    border-radius: 0px;
    background: none;
    border: none;
    padding: 2px 4px;
    color: @foreground;
}

.spinbutton .button:last-child {
    border-radius: 0px;
    background: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px 4px;
    color: @foreground;
}

/* Buttons */

.spinbutton .button:hover {
    border: none;
    color: @selection;
    background-color: transparent;
}

.spinbutton .button:active {
    background-color: @selection;
    color: @selection_foreground;
}

.spinbutton .button:insensitive {
    background-color: @insensitive_background;
    color: @insensitive_text;
}

/* Entry */
.spinbutton.entry {
    background-color: @base;
    color: @text;
}

.spinbutton.entry:focus {
    color: @text;
}

.spinbutton.entry:insensitive {
    color: @insensitive_text;
    background-color: @insensitive_background;
}

.spinbutton.entry:backdrop {
    color: @backdrop_text;
    background-color: @backdrop_background;
}