/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color suggested_action_button shade(@selection, 0.5);
@define-color suggested_action_button_foreground #fff;
@define-color backdrop_suggested_action_foreground alpha(#fff, 0.5);
@define-color insensitive_suggested_action_foreground alpha(#fff, 0.7);

/****************************
 * Suggested action buttons *
 ****************************/

.suggested-action.button,
.button.suggested-action {
    border: 1px solid @suggested_action_button;
    background-color: @suggested_action_button;
    color: @suggested_action_button_foreground;
}

.suggested-action.button:hover,
.button.suggested-action:hover {
    border: 1px solid shade(@suggested_action_button, 1.2);
    background-color: shade(@suggested_action_button, 1.2);
    color: @suggested_action_button_foreground;
}

.suggested-action.button:active,
.button.suggested-action:active {
    border: 1px solid shade(@suggested_action_button, 1.1);
    background-color: shade(@suggested_action_button, 1.1);
    color: @suggested_action_button_foreground;
}

.suggested-action.button:backdrop,
.button.suggested-action:backdrop {
    border: 1px solid @backdrop_border;
    background-color: @backdrop_background;
    color: @backdrop_text;
}

.suggested-action.button:insensitive,
.button.suggested-action:insensitive {
    border: 1px solid @insensitive_border;
    background-color: @insensitive_background;
    color: @insensitive_text;
}

.suggested-action.button:backdrop:insensitive,
.button.suggested-action:backdrop:insensitive {
    border: 1px solid mix(@insensitive_border, @backdrop_border 0.5);
    background-color: mix(@insensitive_background, @backdrop_background, 0.5);
    color: mix(@insensitive_text, @backdrop_text, 0.5);
}