/* Copyright 2015 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/* Slider colors */
@define-color slider_border @trough_border;
@define-color backdrop_slider_border @backdrop_trough_border;


/*************
 * GtkSwitch *
 *************/

/*GtkSwitch {
    font: condensed;
}

GtkSwitch.trough {
    border-radius: 1em;    
    border: 1px solid @trough_border;
    background-color: @background;
    color: @trough_border;
}

GtkSwitch.trough:active {
    border: 1px solid @selection;
    background-color: alpha(@selection, 0.2);
    color: @selection;
}

GtkSwitch.trough:backdrop,
GtkSwitch.trough:active:backdrop {
    border: 1px solid @backdrop_trough_border;
    background-color: @backdrop_background;
    color: @backdrop_trough_border;
}

GtkSwitch.trough:insensitive,
GtkSwitch.trough:active:insensitive {
    background: none;
    border: 1px solid @insensitive_text;
    color: @insensitive_text;
}

GtkSwitch.slider {
    background-color: @slider_border;
}

GtkSwitch.slider:active {
    background-color: @selection;
}

GtkSwitch.slider:active:insensitive,
GtkSwitch.slider:insensitive {
    background-color: @insensitive_text;
}

GtkSwitch.slider:active:backdrop,
GtkSwitch.slider:backdrop {
    background-color: @backdrop_slider_border;
}*/


GtkSwitch {
    font: 1;
    border: none;
    -GtkSwitch-slider-width: 46;
}

GtkSwitch.trough {
    color: transparent;
    border: none;
    box-shadow: none;
}

GtkSwitch:backdrop,
GtkSwitch:insensitive,
GtkSwitch:backdrop:insensitive,
GtkSwitch.trough:backdrop,
GtkSwitch.trough:insensitive,
GtkSwitch.trough:backdrop:insensitive {
    border: none;
}