/* Copyright 2016 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/*********
 * Tiles *
 *********/

.tile {
    border-radius: 3px;
    padding: 4px 9px;
    border: 1px solid @border;
    background-color: @background;
    color: @text;
}

.featured-tile {
    color: @base;
}

.featured-tile:backdrop {
    color: @base;
}

.tile:focus,
.tile:active:focus {
    border: 1px solid @selection;
    background-color: shade(@selection, 1.1);
    color: @selection;
}

/* Hover Button */
.tile:hover,
.tile:active:hover {
    border: 1px solid shade(@selection, 1.1);
    background-color: shade(@selection, 1.2);
    color: @selection_foreground;
}

/* Active (Pressed) Button */
.tile:active {
    border: 1px solid @selection;
    background-color: shade(@selection, 1.1);
    color: @selection_foreground;

}

/* Insensitive Button */
.tile:insensitive {
    border: 1px solid @insensitive_border;
    background-color: @insensitive_background;
    color: @insensitive_text;
}

/* Backdrop Button */
.tile:backdrop {
    border: 1px solid @backdrop_border;
    background-color: @backdrop_background;
    color: @backdrop_text;
}

/* Backdrop Button */
.tile:backdrop:hover {
    background-color: shade(@backdrop_background, 1.1);
    color: @backdrop_text;
}

/* Insensitive Button */
.tile:insensitive:backdrop {
    border: 1px solid @insensitive_border;
    background-color: @insensitive_background;
    color: @insensitive_text;
}

/* Images */
.tile GtkImage {
    color: @text;
}

.tile:active GtkImage,
.tile:focus GtkImage,
.tile:hover GtkImage {
    color: @selection_foreground;
}

.tile:backdrop GtkImage,
.tile:backdrop:hover GtkImage,
.tile:active:backdrop GtkImage {
    color: @backdrop_text;
    -gtk-image-effect: dim;
}

.tile:insensitive GtkImage {
    color: @insensitive_text;
    -gtk-image-effect: dim;
}

.tile:insensitive:backdrop GtkImage {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
    -gtk-image-effect: dim;
}

/* Labels */
.tile GtkLabel {
    color: @text;
}

.tile:active GtkLabel,
.tile:focus GtkLabel,
.tile:hover GtkLabel {
    color: @selection_foreground;
}

.tile:backdrop GtkLabel,
.tile:backdrop:hover GtkLabel,
.tile:active:backdrop GtkLabel {
    color: @backdrop_text;
}

.tile:insensitive GtkLabel {
    color: @insensitive_text;
}

.tile:insensitive:backdrop GtkLabel {
    color: mix(@backdrop_text, @insensitive_text, 0.5);
}