/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/******************
 * Titlebar (CSD) *
 ******************/

.titlebar {
    border-width: 0px;
    padding: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
    icon-shadow: none;
    text-shadow: none;
    background-color: @header;
    color: @header_text;
}

.titlebar:backdrop {
    background-color: @backdrop_header;
    color: @backdrop_header_text;
}

.titlebar:insensitive {
    color: @insensitive_header_text;
}

.titlebar.default-decoration {
    padding: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: @header;
    color: @header_text;
    box-shadow: inset 0 -3px 3px -4px alpha(#000, 0.7);
}

.titlebar .title {
    padding-left: 13px;
    padding-right: 13px;
    color: @header_text;
    font: Bold 11;
    text-shadow: none;
}

.titlebar .title:backdrop {
    color: @backdrop_header_text;
}

/*********************
 * Titlebar buttons  *
 *********************/

.titlebar .button {
    padding: 13px;
}

.titlebar .titlebutton,
.titlebar .text-button,
.titlebar .button .text-button {
    color: @header_text;
    padding: 13px;
}

.titlebar .image-button,
.titlebar .button.image-button {
    padding: 13px;
}

/* Normal Button */
.titlebar .titlebutton,
.titlebar .titlebutton .button,
.titlebar .text-button,
.titlebar .button .text-button,
.titlebar .flat,
.titlebar .button.image-button,
.titlebar .image-button,
.titlebar .button,
.titlebar .linked .button,
.titlebar GtkComboBox,
.titlebar .suggested-action.button {
    border-radius: 0px;
    background: none;
    border: none;
    color: @header_text;
}

/* Active Button */
.titlebar .titlebutton:active,
.titlebar .titlebutton .button:active,
.titlebar .text-button:active,
.titlebar .button .text-button:active,
.titlebar .flat:active,
.titlebar .button.image-button:active,
.titlebar .image-button:active,
.titlebar .button:active,
.titlebar .linked .button:active,
.titlebar GtkComboBox:active,
.titlebar .suggested-action.button:active {
    border-radius: 0px;
    background: alpha(#000, 0.2);
    font: Bold;
    border: none;
    color: @header_text;
    box-shadow: inset 0 -2px 0 0 @header_text;
}

/* Focus Button */
.titlebar .titlebutton:focus,
.titlebar .titlebutton .button:focus,
.titlebar .text-button:focus,
.titlebar .button .text-button:focus,
.titlebar .flat:focus,
.titlebar .button.image-button:focus,
.titlebar .image-button:focus,
.titlebar .button:focus,
.titlebar .linked .button:focus,
.titlebar GtkComboBox:focus,
.titlebar .suggested-action.button:focus {
    border-radius: 0px;
    background: none;
    font: Bold;
    border: none;
    color: @header_text;
    box-shadow: inset 0 -2px 0 0 @header_text;
}

/* Hover Button */
.titlebar .titlebutton:hover,
.titlebar .titlebutton .button:hover,
.titlebar .text-button:hover,
.titlebar .button .text-button:hover,
.titlebar .flat:hover,
.titlebar .image-button:hover,
.titlebar .button.image-button:hover,
.titlebar .button:hover,
.titlebar .linked .button:hover,
.titlebar GtkComboBox:hover,
.titlebar .suggested-action.button:hover {
    border-radius: 0px;
    background: alpha(#000, 0.1);
    border: none;
    color: @header_text;
}

/* Backdrop Button */
.titlebar .titlebutton:backdrop,
.titlebar .titlebutton .button:backdrop,
.titlebar .text-button:backdrop,
.titlebar .button .text-button:backdrop,
.titlebar .flat:backdrop,
.titlebar .button.image-button:backdrop,
.titlebar .image-button:backdrop,
.titlebar .button:backdrop,
.titlebar .linked .button:backdrop,
.titlebar GtkComboBox:backdrop,
.titlebar .suggested-action.button:backdrop {
    padding: 13px;
    border-radius: 0px;
    background: none;
    border: none;
    color: @backdrop_header_text;
}

/* Active:Backdrop Button */
.titlebar .titlebutton:active:backdrop,
.titlebar .titlebutton .button:active:backdrop,
.titlebar .button .text-button:active:backdrop,
.titlebar .text-button:active:backdrop,
.titlebar .flat:active:backdrop,
.titlebar .button.image-button:active:backdrop,
.titlebar .image-button:active:backdrop,
.titlebar .button:active:backdrop,
.titlebar .linked .button:active:backdrop,
.titlebar GtkComboBox:active:backdrop,
.titlebar .suggested-action.button:active:backdrop {
    border-radius: 0px;
    background: alpha(#000, 0.2);
    font: Bold;
    border: none;
    color: @backdrop_header_text;
    box-shadow: inset 0 -2px 0 0 @backdrop_header_text;
}

/* Backdrop:Hover Button */
.titlebar .titlebutton:backdrop:hover,
.titlebar .titlebutton .button:backdrop:hover,
.titlebar .button .text-button:backdrop:hover,
.titlebar .text-button:backdrop:hover,
.titlebar .flat:backdrop:hover,
.titlebar .button.image-button:backdrop:hover,
.titlebar .image-button:backdrop:hover,
.titlebar .button:backdrop:hover,
.titlebar .linked .button:backdrop:hover,
.titlebar GtkComboBox:backdrop:hover,
.titlebar .suggested-action.button:backdrop:hover {
    border-radius: 0px;
    background: alpha(#000, 0.1);
    border: none;
    color: @backdrop_header_text;
}

/* Insensitive Button */
.titlebar .titlebutton:insensitive,
.titlebar .titlebutton .button:insensitive,
.titlebar .button .text-button:insensitive,
.titlebar .text-button:insensitive,
.titlebar .flat:insensitive,
.titlebar .button.image-button:insensitive,
.titlebar .image-button:insensitive,
.titlebar .button:insensitive,
.titlebar .linked .button:insensitive,
.titlebar GtkComboBox:insensitive,
.titlebar .suggested-action.button:insensitive {
    border-radius: 0px;
    background: none;
    font: Bold;
    border: none;
    color: @insensitive_header_text;
}

/* Button Images */
.titlebar .button GtkImage,
.titlebar .button GtkImage:active,
.titlebar .button GtkImage:focus,
.titlebar .button GtkImage:hover,
.titlebar .titlebutton .button GtkImage,
.titlebar .titlebutton .button GtkImage:active,
.titlebar .titlebutton .button GtkImage:focus,
.titlebar .titlebutton .button GtkImage:hover,
.titlebar .titlebutton GtkImage,
.titlebar .titlebutton GtkImage:active,
.titlebar .titlebutton GtkImage:focus,
.titlebar .titlebutton GtkImage:hover {
    color: @header_text;
}

.titlebar .titlebutton .button GtkImage:active:backdrop,
.titlebar .titlebutton .button GtkImage:backdrop,
.titlebar .titlebutton .button GtkImage:backdrop:hover,
.titlebar .titlebutton GtkImage:active:backdrop,
.titlebar .titlebutton GtkImage:backdrop,
.titlebar .titlebutton GtkImage:backdrop:hover,
.titlebar .button GtkImage:active:backdrop,
.titlebar .button GtkImage:backdrop,
.titlebar .button GtkImage:backdrop:hover {
    color: @backdrop_header_text;
    -gtk-image-effect: dim;
}


.titlebar .button GtkImage:insensitive,
.titlebar .titlebutton GtkImage:insensitive,
.titlebar .titlebutton .button GtkImage:insensitive  {
    color: @insensitive_header_text;
    -gtk-image-effect: dim;
}


.titlebar .right .button:first-child,
.titlebar .right .titlebutton:first-child {
    border: none;
}

.titlebar .right .button:last-child,
.titlebar .right .titlebutton:last-child {
    border: none;
}

.titlebar .left .button:last-child,
.titlebar .left .titlebutton:last-child {
    border: none;
}

.titlebar .left .button:first-child,
.titlebar .left .titlebutton:first-child {
    border: none;
}

