/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color toolbar @header;
@define-color backdrop_toolbar shade(@toolbar, 0.9);
@define-color toolbar_text @header_text;
@define-color backdrop_toolbar_text alpha(@toolbar_text, 0.7);
@define-color insensitive_toolbar_text alpha(@toolbar_text, 0.5);



/***********
 * Toolbar *
 ***********/

/* Main Colors*/
.toolbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    color: @toolbar_text;
    background-color: @toolbar;
}

.toolbar:insensitive {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    color: @insensitive_toolbar_text;
    background-color: @background;
}

.toolbar:backdrop {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    color: @backdrop_toolbar_text;
    background-color: @backdrop_toolbar;
    -gtk-image-effect: dim;
}

/* Menubar */
.toolbar .menubar {
    padding: 0px;
}

/* Buttons */
.toolbar .button,
.toolbar .text-button,
.toolbar .image-button {
    border: none;
    background: none;
    color: @toolbar_text;
    border-radius: 0px;
    padding: 13px;
}

.toolbar .button:active
.toolbar .text-button:active,
.toolbar .image-button:active {
    border: none;
    color: @toolbar_text;
    box-shadow: inset 0 -2px 0 0 @toolbar_text;
    padding: 13px;
}

.toolbar .button .raised
.toolbar .text-button .raised,
.toolbar .image-button .raised {
    border: none;
    color: @toolbar_text;
    box-shadow: inset 0 -2px 0 0 @toolbar_text;
    padding: 13px;
}

/* Hover */
.toolbar .button:hover,
.toolbar .button:active:hover
.toolbar .text-button:hover,
.toolbar .text-button:active:hover,
.toolbar .image-button:hover,
.toolbar .image-button:active:hover {
    padding: 13px;
    border: none;
    background: alpha(#000, 0.1);
    color: @toolbar_text;
    box-shadow: inset 0 -2px 0 0 @toolbar_text;
}

/* Insensitive */
.toolbar .button:insensitive
.toolbar .text-button:insensitive,
.toolbar .image-button:insensitive {
    padding: 13px;
    border: none;
    color: @insensitive_toolbar_text;
}

/* Backdrop */
.toolbar .button:backdrop,
.toolbar .button:active:backdrop
.toolbar .text-button:backdrop,
.toolbar .text-button:active:backdrop,
.toolbar .image-button:backdrop,
.toolbar .image-button:active:backdrop {
    color: @backdrop_toolbar_text;
    border: none;
    padding: 13px;
}


/* Entry */
.toolbar .entry {
    border: none;
    border-radius: 0px;
    background:transparent;
    color: @toolbar_text
}

.toolbar .entry GtkImage
.toolbar .entry GtkImage:focus; {
    color: @toolbar_text
}

.toolbar .entry:focus {
    color: @toolbar_text;
    border: solid @insensitive_toolbar_text;
    border-bottom-width: 1px;
}

.toolbar .entry:insensitive {
    border: none;
    color: @insensitive_toolbar_text;
    border: solid @insensitive_toolbar_text;
    border-bottom-width: 1px;
}

.toolbar .entry:backdrop {
    border: none;
    color: @backdrop_toolbar_text;
    border: solid @backdrop_toolbar_text;
    border-bottom-width: 1px;
}

/*******************
 * Primary Toolbar *
 *******************/

/* Normal */
.primary-toolbar .toolbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: @toolbar;
    border: none;
}

/* Backdrop */
.primary-toolbar .toolbar:backdrop {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: @backdrop_toolbar;
    border: none;
    -gtk-image-effect: dim;
}


/* Buttons */

.primary-toolbar GtkComboBox,
.primary-toolbar .button,
.primary-toolbar .button.text-button,
.primary-toolbar .button.image-button, 
.primary-toolbar .button.image-button GtkImage {
    border: none;
    color: @toolbar_text;
    box-shadow: none;
}

/* Buttons Active */
.primary-toolbar GtkComboBox:active,
.primary-toolbar GtkComboBox:focus,
.primary-toolbar .button:active,
.primary-toolbar .button.image-button:active {
}

/* Button separator */
.primary-toolbar .separator,
.primary-toolbar .button .separator,
.primary-toolbar .button.separator {
    color: @insensitive_separator;
}

/* Hover buttons */
.primary-toolbar .button:hover,
.primary-toolbar .button:active:hover {
    background: alpha(#000, 0.1);
    box-shadow: none;
}

/* Insensitive buttons */
.primary-toolbar .button:insensitive,
.primary-toolbar .button:active:insensitive {
}

.primary-toolbar .separator:insensitive,
.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive {
    color: @insensitive_separator;
}

/* backdrop buttons */
.primary-toolbar .button:backdrop,
.primary-toolbar .button:active:backdrop {
}

.primary-toolbar .separator:backdrop,
.primary-toolbar .button .separator:backdrop,
.primary-toolbar .button.separator:backdrop {
    color: @backdrop_separator;
}

/*********************
* Secondary Toolbars *
*********************/

.secondary-toolbar.toolbar {
    padding: 2px;
    background-color: @background;
    box-shadow: none;
}

.secondary-toolbar.toolbar:backdrop {
    background-color: @backdrop_background;
    border-color: @backdrop_border;
    color: @backdrop_text;
    -gtk-image-effect: dim;
}

.secondary-toolbar.toolbar .linked-button,
.secondary-toolbar.toolbar .button {
    padding: 2px;
}

/******************
 * Inline Toolbar *
 ******************/

.inline-toolbar .toolbar,
.inline-toolbar.toolbar {
    border: solid @border;
    border-width: 0 1px 1px 1px;
    padding: 4px;
    background-color: @background;
    box-shadow: none;

}

.inline-toolbar .toolbar:backdrop,
.inline-toolbar.toolbar:backdrop {
    /*border: 1px solid @backdrop_border;*/
    border-top-width: 0px;
    padding: 4px;
    background-color: @backdrop_background;
    background-image: linear-gradient(to bottom,
                                  @backdrop_gradient_a,
                                  @backdrop_gradient_b
                                  );
    box-shadow: none;
    -gtk-image-effect: dim;

}


.inline-toolbar.toolbar.vertical:first-child {
    border-radius: 0 0 6px 6px;
    border-width: 1px 1px 0px 1px;
}

.inline-toolbar.toolbar.vertical:last-child {
    border-radius: 6px 6px 0px 0px;
    border-width: 0px 1px 1px 1px;
}

/* Buttons */
.inline-toolbar .button.text-button {
    background-image: none;
    background-color:@base;;
}

.inline-toolbar .button.image-button,
.inline-toolbar .button.image-button:active {
    padding: 2px;
    background-image: none;
    background-color:@base;;
}

.inline-toolbar GtkComboBox,
.inline-toolbar .button {
    color: @foreground;
    background-image: none;
    background-color:@base;

}

.inline-toolbar GtkComboBox:active,
.inline-toolbar .button:active {
    color: @foreground;
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_a,
                                  @button_active_gradient_b
                                  );

    color: @foreground;
}

.inline-toolbar .separator,
.inline-toolbar .button .separator,
.inline-toolbar .button.separator {
    color: @separator;
}

/* Hover */
.inline-toolbar .button:hover {

    color: @hover_text;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_a,
                                  @button_hover_gradient_b
                                  );

    color: @foreground;
}

.inline-toolbar .button:active:hover {
    color: @hover_text;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_b,
                                  @button_hover_gradient_a
                                  );
}


/* Insensitive */
.inline-toolbar .button:insensitive,
.inline-toolbar .button:active:insensitive {
    color: @insensitive_text;
    background-image: none;
    background-color: @insensitive_background;
}

.inline-toolbar .separator:insensitive,
.inline-toolbar .button .separator:insensitive,
.inline-toolbar .button.separator:insensitive {
    color: @insensitive_separator;
}

/* backdrop */
.inline-toolbar .button:backdrop,
.inline-toolbar .button:active:backdrop {
    color: @backdrop_text;
    background-image: none;
    background-color: @backdrop_background;
}

.inline-toolbar .separator:backdrop,
.inline-toolbar .button .separator:backdrop,
.inline-toolbar .button.separator:backdrop {
    color: @backdrop_separator;
}

/********************
 * Menubar Toolbars *
 ********************/
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}


/******************
* Bottom Toolbars *
******************/

.bottom-toolbar.toolbar {
    padding: 0px;
    border: solid @border;
    background-image: linear-gradient(to bottom,
                                  shade(@gradient_a, 0.96),
                                  shade(@gradient_b, 0.96)
                                  );
}

.bottom-toolbar.toolbar .button {
    padding: 2px 3px 2px 3px;
}