/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***********
 * Spinner *
 ***********/

@keyframes spinner {
    0% { background-image: url("assets/spinner-01.svg"); }
    5% { background-image: url("assets/spinner-02.svg"); }
    10% { background-image: url("assets/spinner-03.svg"); }
    15% { background-image: url("assets/spinner-04.svg"); }
    20% { background-image: url("assets/spinner-05.svg"); }
    25% { background-image: url("assets/spinner-06.svg"); }
    30% { background-image: url("assets/spinner-07.svg"); }
    35% { background-image: url("assets/spinner-08.svg"); }
    40% { background-image: url("assets/spinner-09.svg"); }
    45% { background-image: url("assets/spinner-10.svg"); }
    50% { background-image: url("assets/spinner-11.svg"); }
    55% { background-image: url("assets/spinner-12.svg"); }
    65% { background-image: url("assets/spinner-13.svg"); }
    70% { background-image: url("assets/spinner-14.svg"); }
    75% { background-image: url("assets/spinner-15.svg"); }
    80% { background-image: url("assets/spinner-16.svg"); }
    85% { background-image: url("assets/spinner-17.svg"); }
    90% { background-image: url("assets/spinner-18.svg"); }
    95% { background-image: url("assets/spinner-19.svg"); }
    100% { background-image: url("assets/spinner-20.svg"); }
}

.spinner {
    background-color: transparent;
    background-image: url("assets/spinner-01.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.spinner:active {
    background-image: url("assets/spinner-01.svg");
    animation: spinner 600ms infinite linear;
}